* {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    background: #2a2a2a;
}

.main-box {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bgvid.back {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.inner {
    position: absolute;
}

.inner-container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.4s linear;
}

.inner-container:hover {
    box-shadow: 0px 0px 20px black;
}

.box {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: Helvetica;
    color: #fff;
    background: rgb(30, 31, 33);
    padding: 30px 0px;
}

.box h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 50px;
}

.box input {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.76);
    color: #fff;
    border: 0;
    border-radius: 5px;
}

.box button {
    background: #2a2a2a;
    display: block;
    margin: 20px auto;
    font-size: 20px;
    padding: 10px;
    width: 330px;
    color: #fff;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: 0.4s;
}

.box button:hover {
    background: #2196F3;
}

.box p {
    font-size: 14px;
    text-align: center;
}

.box p a {
    text-decoration: none;
    color: #2196F3;
}

.shaalan {
    position: absolute;
    bottom: 0;
    left: 43%;
    display: block;
}

.shaalan p {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.shaalan p a {
    text-decoration: none;
    color: #2196F3;
}