.bg-gradient-primary {
    background-image: linear-gradient(0deg, #0e1118f7 70%, #670e05 97%);
}

.bg-custom {
    background-color: #0e1118f7 !important;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header,
.sidebar .nav-item .collapsing .collapse-inner .collapse-header {
    color: #10ee10;
}

.collapse-item.active {
    background-color: #b7b9cc;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #0e1118f7;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    color: #b7b9cc;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    color: #0e1118f7;
    font-weight: bold;
}

/** LA TABLA DE LISTADO */
.table-bordered thead {
    color: #10ee10;
}

.table-bordered tfoot {
    color: #10ee10;
}

.table-bordered tbody {
    color: #ffffff;
}

.form-control {
    background-color: #0e1118f7;
    color: #ffffff;
}

.input-custom {
    background-color: #0e1118f7;
    color: #ffffff;
}